/**
 * @name pink
 * @author tams
 * @version 1.2.X
 * @description A pink theme
 * @source https://github.com/pordT2/theme
 */

@import url('https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css');
@import url('https://raw.githack.com/pordT2/theme/main/pinkie.theme.css');

:root{
    --background: url('https://c.wallhere.com/photos/bd/af/anime_girls_Donald_Trump_Fate_series_Fate_Apocrypha_humor_Astolfo_Fate_Apocrypha-2122145.jpg!d');
    --activetext-colour: rgb(255, 0, 234);

    --primary1-colour: red;
    --primary2-colour: rgba(255,0,0,0.5);
    --primary3-colour: rgba(100,0,0,0.6);

    --secondary1-colour: rgba(170, 53, 53, 0.3);
    --secondary2-colour: rgba(211, 35, 35, 0.5);
    --secondary3-colour: rgba(255, 0, 0, 0.5);
}
  
/*
Theme Owned and Made by Tams#4339
  
Background Img: https://wpblink.com/sites/default/files/wallpaper/anime/66761/sword-art-online-ii-wallpapers-hd-66761-327252.png 

The 2 items above are not owned by me, They go to there respected owners 

I have used GGO Kiritov by VaporousCreeper#9514 as a template 

Code based off of: https://github.com/VaporousCreeper/BetterDiscord-ThemesAndPlugins/tree/master/Themes/GGO_Kirito
*/
